@media (max-width: 575px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {

#settingmodal .modal-body{

  width: 100px;
  height:100px;

}

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
#settingmodal .modal-body{

  width: 100px;
  height:500px;

}
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
#settingmodal .modal-body{

  width: 200px;
  height:300px;

}
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
#settingmodal .modal-body{

  width: 500px;
  height:500px;

}
 }
